.modal_absolute_content{
    position: fixed !important;
    background: white;
    top: 20px;
    bottom: 20px;
    overflow: scroll;
    left: 50%;
    right: 50%;
    padding: 30px;
    z-index: 9999;
    width: 1000px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    padding-top: 45px;
}

#markdownFormProduct .btn-close{
    top: 7px;
    right: 9px;
}
#markdownFormNews .btn-close{
    top: 17px;
    right: 26px;
}