<header>
  <div class="header-top hide-on-mobile">
    <div
      class="container d-flex justify-content-between aligns-item-center pt-3 pb-3"
    >
      <div class="contact">
        <span class="text-light">
          <i class="fa-regular fa-envelope"></i>
        </span>
        <span class="text-light"> mobicam8@gmail.com </span>
      </div>

      <div class="localtion">
        <a href="">
          <span class="text-light">
            <i class="fa-solid fa-location-dot"></i>
          </span>
          <span class="text-light">
            45 đường số 5, KDC Thăng Long Home, Tam Phú, TP. Thủ Đức
          </span>
        </a>
      </div>

      <div class="contact">
        <span class="text-light">
          <i class="fa-solid fa-phone"></i>
        </span>
        <span class="text-light">0899 19 19 19 </span>
      </div>
    </div>
  </div>
  <div class="header-bottom bg-white">
    <div class="container pt-3 pb-3 position-relative">
      <div id="google_translate_element"></div>
      <nav
        class="header_navigation h-100 d-flex justify-content-between align-items-center"
      >
        <div
          class="wp_btn_bar d-flex justify-content-center align-items-center show-on-mobile d-none"
          style="width: 30px; height: 30px"
        >
          <i class="btn_bar fa-solid fa-bars text-light fs-3"></i>
        </div>
        <div class="logo">
          <img
            class="hide-on-mobile"
            src="https://mobicam.vn/assets/images/logoHead.png"
            alt="logo"
          />
          <img
            class="show-on-mobile d-none"
            src="https://mobicam.vn/assets/images/mobiCam_logo.png"
            alt="logo"
          />
        </div>
        <nav class="hide-on-mobile">
          <ul class="d-flex gap-3">
            <li>
              <a href="#the-best-feture-section">Tính năng</a>
            </li>
            <li>
              <a href="#benifit">Lợi ích</a>
            </li>
            <li>
              <a href="#section-certificert">Chứng chỉ</a>
            </li>
            <li>
              <a href="#category">Chuyên mục</a>
            </li>
            <li>
              <a href="#news">Tin tức</a>
            </li>
            <li>
              <a href="#news">Hỏi đáp</a>
            </li>
          </ul>
        </nav>
        <div
          class="action d-flex gap-1 justify-content-center align-items-center"
        >
          <!-- <select
            class="form-select form-select-sm"
            aria-label="langs select"
            name="langs"
            id="lang"
          >
            <option value="vi">VI</option>
            <option value="en">EN</option>
          </select> -->
          <i class="fa-solid fa-user text-primary ms-3"></i>
        </div>
      </nav>
    </div>
  </div>
  <div class="menu-responsive d-none">
    <ul class="headerMain_menuM-list mobile_show active">
      <li>
        <a href="#the-best-feture-section">Tính năng</a>
      </li>
      <li>
        <a href="#benifit">Lợi ích</a>
      </li>
      <li>
        <a href="#section-certificert">Chứng chỉ</a>
      </li>
      <li>
        <a href="#category">Chuyên mục</a>
      </li>
      <li>
        <a href="#news">Tin tức</a>
      </li>
      <li>
        <a href="#news">Hỏi đáp</a>
      </li>
    </ul>
  </div>
</header>
