
    <aside class="side-bar-left">
      <h6 class="fw-bold">Admin</h6>
      <nav>
        <div class="menu-item position-relative">
          <div class="main-menu position-relative">
            <span>
              <i class="fa-brands fa-instagram"></i>
            </span>
            <span>Trang</span>
          </div>
          <i
            class="fa-solid fa-chevron-left position-absolute icon_chevon"
          ></i>
          <div style="display: none" class="sub-menu">
            <ul>
              <li
              onclick="renderComponent('productpage')"
              class="sub-menu-item">
                <i class="fa-solid fa-caret-right"></i>
                <a href="/admin/dashboard/product"> Sản phẩm</a>
              </li>
              <li class="sub-menu-item">
                <i class="fa-solid fa-caret-right"></i>
                <a href="/admin/dashboard/news">Tin tức</a>
              </li>
              <li class="sub-menu-item">
                <i class="fa-solid fa-caret-right"></i>
                <span>Tuyển dụng</span>
              </li>
              <li class="sub-menu-item">
                <i class="fa-solid fa-caret-right"></i>
                <span>Đăng tin</span>
              </li>
              <li class="sub-menu-item">
                <i class="fa-solid fa-caret-right"></i>
                <span>Chính sách</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="menu-item position-relative">
          <div class="main-menu">
            <span>
              <i class="fa-solid fa-user"></i>
            </span>
            <span>Tuyển dụng</span>
          </div>
          <i
            class="fa-solid fa-chevron-left position-absolute icon_chevon"
          ></i>
          <div style="display: none" class="sub-menu">
            <ul>
              <li class="sub-menu-item">
                <i class="fa-solid fa-caret-right"></i>
                <span>Bài tuyển dụng</span>
              </li>
              <li class="sub-menu-item">
                <i class="fa-solid fa-caret-right"></i>
                <span>CV </span>
              </li>
        
            </ul>
          </div>
        </div>
      </nav>
      <div class="logout_btn rounded-pill">
        <i class="fas fa-sign-out-alt"></i>
        <span>Đăng xuất</span>
        <div class="bg-option"></div>
      </div>
    </aside>

